<input type = "checkbox" class ="toggler"/>

<div class="hamburger"><div></div></div>

<div class = "menu">
    <div>
        <div>
            <form class="barreRecherche">
                <input type = "recherche-nom" class = "contact-recherche" placeholder="Rechercher">
                <i class="fas fa-search" ></i>
            </form>
           
        </div>
    </div>
</div>    

<header class = "header">
    <div class="header-inner">
        <p id = "repertoire" class = "repertoire"> Répertoire Contacts </p>
        <i id = "add_button" class="fas fa-user-plus"></i>
    </div> 
</header>    
